@{
    ViewBag.Title = "新闻";
    Layout = "~/Areas/news/Views/Shared/_LayoutNews.cshtml";
}
@model News
@using iiceqx.Model;
<div class="jumbotron navbar-left">
    @if (Model != null)
    {
        <h3>@Model.Title</h3>
        @Html.Raw(Model.Content)
    }

</div>
