@{
    ViewBag.Title = "文章";
    Layout = "~/Areas/article/Views/Shared/_LayoutArticle.cshtml";
}
@model List<Article>
@using iiceqx.Model;
<div class="alert alert-info" role="alert">
    <strong>太乱？</strong>点击 <a href="/article/Article/articletheme" class="alert-success">这里</a>去根据主题学习！
</div>
<div class="row">
    <div class="col-sm-12 blog-main" id="divArticle">
        @Html.Partial("_Index", Model)
    </div>
</div>
@section scripts{

    <script type="text/javascript">
        function PageChaged(pageIndex) {
            $.ajax({
                src: "/article/Article/Index",
                data: { "id": pageIndex },
                success: function (data) {
                    if (data != "" && data != undefined) {
                        $("#divArticle").empty();
                        $("#divArticle").append(data);
                    }
                    else {
                        $("#divArticle").empty();
                        $("#divArticle").append("<div class=\"alert alert-warning\" role=\"alert\"><strong>Warning!</strong> 暂时没有数据了！<a href=\"/article/Article/Index\" class=\"alert-link\">返回第一页</a>.</div>")
                    }
                }
            })
        }
    </script>
}